<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/htmx.min.js"></script>
    <title>Svuv site</title>
</head>
<body>
    <div class="search-box">
        <div class="row">
            <input class="search" name="search" type="text" placeholder="Zoek naar het woord" autocomplete="off" hx-post="/" hx-trigger="input changed, load, wordAdded" hx-target=".result-box">
            <!-- <button class="new-word">+ nieuw</button> -->
        </div>
        <div class="adding-new-word row" id="add-word" hx-include="this">
            <input class="word" type="text" name="woord" placeholder="typ het woord in" autocomplete="off" required>
            <input class="word" type="text" name="woordsoort" placeholder="woordsoort" autocomplete="off">
            <input class="word" type="text" name="uitspraak" placeholder="uitspraak" autocomplete="off">
            <input class="word" type="text" name="vertaling" placeholder="vertaling/aantekening" autocomplete="off">
            <button class="new-word" hx-post="/add/" hx-swap="none" hx-on::after-request='htmx.trigger("input.search", "wordAdded")'>Verzend</button>
        </div>
    </div>
    <div class="result-box">
    </div>
</body>
</html>