<table width="100%">
    <tr>
        <th></th>
        <th style="text-align: left;">woordenaantal: {{ .Count.Matched }}/{{ .Count.Total }}</th>
        <th>woordsoort</th>
        <th>uitspraak</th>
        <th style="text-align: right;">vertaling/aantekening</th>
    </tr>
    {{ range .Words }}
    <tr>
        <td><a class="delete" hx-delete="/delete/{{ .Woord }}" title="click to delete" onmouseup="makeSearchElementTrigger()">[x]</a></td>
        <td name="woord">{{ .Woord }}</td>
        <td style="text-align: center;">{{ .Woordsoort }}</td>
        <td style="text-align: center;">{{ .Uitspraak }}</td>
        <td style="text-align: right;">{{ .Vertaling }}</td>
    </tr>
    {{ end }}
</table>